#bar-container{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.menu{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img{
    width: 70px;
    height: 30px;
}

#menu-bar {
    font-size: 30px;
    color: white;
}

#main-container{
    display: flex;
    background-color: white;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    position: sticky;
    top: 0px;
}

body{
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}

.child{
    display: flex;
    justify-content: center;
}

.parent{
    font-size: 18px;
    padding: 25px;
}



.parent:hover{
    background-color: orange;
}

.nav-menu:hover{
    text-decoration: underline;
}

@media (min-width : 500px) {
    #bar-container, #menu-bar, .menu {
        display: none;
    }
}

@media (max-width : 500px) {
    #main-container, .parent, .child {
       display: none;
    }
}

@media (min-width : 770px) and (max-width : 935px) {
    .parent {

    font-size: 15px;
    padding: 20px;

    }
}

@media (min-width : 576px) and (max-width : 770px) {
    .parent {
        font-size: 13px;
        padding: 10px;
    }
}

@media (min-width : 500px) and (max-width : 576px) {
    .parent{
        font-size: 13px;
        padding: 3px;
    }
}

#side-bar{
    background-color: black;
    width: 50px;
    height: 530px;
    position: fixed;
    top: 90px;
    z-index: -5;
}

#border{
    border-top: 0px solid white;
    border-right: 50px solid black;
    border-bottom: 50px solid black;
    border-left: 50px solid black;
    /* border: 0px 50px 50px 50px; */
    /* border-color: black;
    border-style: solid;
    border-width: 50px; */
}

#aside{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 200px;
    position: fixed;
    top: 200px;
    left: 50px;
    border-top-right-radius: 10px;
}

.side-bars{
    display: flex;
    z-index: -5;
}

#user{
    height: 120px;
    background-color: darkgreen;
    border-top-right-radius: 10px;
    color: white;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    height: 80px;
    background-color: grey;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    height: 530px;
}

footer{
    background-color: black;
    color: white;
    margin-left: 0px;
    display: flex;
    padding: 5px;
    /* padding: 5px 5px 5px 80px; */
    justify-content: center;
}

.footer{
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;

}

#footer-img{
    height: 100px;
    width: 150px;
}

#social-link1, #social-link2, #social-link3, #social-link4, #social-link5 {
    font-size: 30px;
    display: inline-block;
}

#para{
    font-size: 13px;
}

#footer1{
    padding: 5px 5px 5px 200px;
    width: 35%;
    font-size: 14px;
}

#footer2{
    padding: 0px 15px;
    width: 35%;
}

#footer3{
    padding: 0px 15px;
    width: 30%;
    font-size: 14px;
}

#h2{
    font: 16px;
}

.nav-menu{
    text-decoration: none;
    color: black;
}